* {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

main {
  background-color: black;
  #particles-js {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
}



/* Intro Banner styling */

.intro-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: absolute;
  &__container {
    height: 475px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    h2 {
      font-size: 80px;
    }
    &__name{
      font-size: 60px;
      color: rgba(255, 255, 255, 0.836);
    }
    h3 {
      color: rgba(255, 255, 255, 0.712);
    }
    &__button{
      background-color: #05c2c9;
      padding: 5px 8px;
      border: 1px solid white;
    }
    &__button:hover{
      background-color: white;
      transform: scale(1.2);
      transition: transform .15s;
    }
  }
}


/* nav bar styling */
.main-nav{
  height: 70px;
  border-bottom: 0.5px solid #9e9e9e;
  border-top: 0.5px solid #9e9e9e;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  > .nav-right > ul {
    list-style-type: none;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    > li > a {
      color: white;
      text-decoration: none;
      padding: 5px 0 3px 0;
      border-bottom: 2px solid black;
      margin: 0 30px;
      display: flex;
      align-items: center;
    }
    > li:nth-child(1) > a:hover{
      border-bottom: 2px solid white;
      transition: 0.1s linear;
    }
    > li:nth-child(2) > a:hover{
      border-bottom: 2px solid white;
      transition: 0.1s linear;
    }
    > li:nth-child(3) > a:hover{
      border-bottom: 2px solid white;
      transition: 0.1s linear;
    }
  }
  > .nav-left{
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    > a {
      color: white;
      text-decoration: none;
    }
  }
}

/* My Skills styling */

.mySkills {
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #05c2c9;
  text-shadow: 1px 1px 2px #04878b, 0 0 25px #05c2c9, 0 0 5px #04878b;
  border-top: 0.5px solid #8f8f8f;
  border-bottom: 0.5px solid #8f8f8f;
  h1{
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-bottom: 5px;
  }
  .skills-grid{
    .skills{
      text-align: center;
      background-color: transparent;
      .svg-inline--fa{
        height: 70px;
        width: 70px; 
        background-color: transparent;
      }
    }
    .skills:hover{
      color:#e31b6d;
      transition: 0.1s linear;
    }
    .skills .skills-text{
      background-color:transparent;
    }
  }
}
@media only screen and (max-width: 1000px){
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
    color: white;
    background-color: transparent;
    justify-content: center;
    margin: auto;
    max-width: 600px;
  }
}
@media only screen and (min-width: 1000px){
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    color: white;
    background-color: transparent;
    justify-content: center;
    margin: auto;
    max-width: 800px;
  }
}

/* About section styling */
.about {
  color: white;
  text-shadow: 1px 1px 2px #04878b, 0 0 25px #05c2c9, 0 0 5px #04878b;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 10px;
  background-color: #05c2c9;
  border-top: 0.5px solid #8f8f8f;
  border-bottom: 0.5px solid #8f8f8f;
  text-align: center;
  h2 {
    font-size: 30px;
  }
}

/*project card styling */
.project-card{
  font-family: euclid-flex,Arial,sans-serif;
  color: white;
  text-shadow: 1px 1px 2px #04878b, 0 0 25px #05c2c9, 0 0 5px #04878b;
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 10px;
  background-color: #05c2c9;
  border: 1px solid #e31b6d;
  img{
    height: 140px;
    width: 200px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(253, 251, 251, 0.418), 0 8px 16px 0 rgba(255, 255, 255, 0.418);
  }
  .project-description{
    max-width: 60%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 24px;
    }
  }
  .project-card__button{
    width: 150px;
    color: white;
    background-color: #ff3e8f;
    text-shadow: 1px 1px 2px black, 0 0 25px #05c2c9, 0 0 5px #04878b;
    font-size: 17px;
    border: 1px solid #e31b6d;
    margin: 5px;
    border-radius: 4px;
  }
}
.project-card-1, .project-card-3{
  display: flex;
  justify-content: flex-end;
  transform: rotate(1deg)
}
.project-card-2 {
  transform: rotate(-1deg)
}
@media only screen and (min-width: 1000px){
  .project-card {
    max-width: 800px;
  }
}
.main-projects-condensed{
  display: flex;
  flex-direction: column;
  align-items: center;
}
